{% block content %}
    <div class="card col-12 mt-2 mb-2">
        <div class="card-title">
            <b>Dodaj zgłoszenie</b>
        </div>
        <div class="card-body">
            {%  form_theme formCreateSupport 'bootstrap_5_layout.html.twig' %}
            {{ form_start(formCreateSupport, {
                'action': path('support_add'),
                'method': 'POST',
                'attr': {
                    'id': 'support_form'
                }
            }) }}
            <div class="row">
                <div class="col-md-4">
                    <b>Nazwa</b>
                    {{ form_widget(formCreateSupport.name, {'attr': {'class': 'form-select'}}) }}
                </div>
                <div class="col-md-4">
                    <b>Treść</b>
                    {{ form_widget(formCreateSupport.contents, {'attr': {'class': 'form-select'}}) }}
                </div>

                <div class="col-md-4">
                    <button class="btn btn-lg btn-info mt-2 mb-2" type="submit" id="submit_support">
                        Utwórz zgłoszenie
                    </button>
                </div>
            </div>
            {{ form_end(formCreateSupport) }}
        </div>
    </div>
{% endblock %}
