{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Firma{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mt-5">
            <div class="card-title">
                Firma
            </div>
            <div class="card-body">
               Firma body
            </div>
        </div>
    </div>
{% endblock %}
